<!DOCTYPE html>
<html lang="en">
<head>
    <title>Банк</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="bank" v-show="active">
        <div class="top_block">
            <div class="header">FLEECA BANK</div>
            <div class="buttons">
                <div v-for="chapter in chapters" class="button" :class="position == chapter.id ? `active` : ''" @click="position = chapter.id; money = 0">{{chapter.name}}</div>
            </div>
        </div> 
        <div class="middle_block">
            <div class="container">
                <div class="replenishment" v-if="position == 1">
                    <div class="input"><input type="text" placeholder="Ввелите сумму" v-model="money"></div>
                    <div class="text">При пополнение средств комиссия банка составляет 0%</div>
                </div>
                <div class="withdrawal" v-if="position == 2">
                    <div class="input"><input type="text" placeholder="Ввелите сумму" v-model="money"></div>
                    <div class="text">При снятии средств комиссия банка составляет 3%</div>
                </div>
                <div class="replenishment" v-if="position == 3">
                    <div class="text">Идите нахуй, тут пусто</div>
                </div>
                <div class="replenishment" v-if="position == 4">
                    <div class="text">Идите нахуй, тут пусто</div>
                </div>
            </div>
        </div>
        <div class="bottom_block">
            <div v-for="chapter in chapters" class="button" v-show="position == chapter.id" @click="transition(chapter.type)">{{chapter.button}}</div>
            <div class="exit" @click="close()">ВЫЙТИ</div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>