@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Oswald';
    user-select: none;
    margin: 0;
    padding: 0;
}

body {
    letter-spacing: 0.1em;
}

.atm {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(34, 50, 84, 0.9);
}

.atm .header {
    position: absolute;
    top: 62px;
    left: 57px;
    color: #ffffff;
}

.atm .header h1 {
    font-weight: 500;
    font-size: 35px;
}

.atm .header .text {
    font-weight: 500;
    font-size: 25px;
    margin-top: 12px;
}

.atm .header .text span {
    color: #FFC500;
}

.atm .street {
    position: absolute;
    top: 62px;
    right: 57px;
    color: #ffffff;
    font-weight: 500;
    font-size: 35px;
}

.atm .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.atm .container .takeoff {}

.atm .container .takeoff h1 {
    font-weight: 500;
    font-size: 28px;
    color: #ffffff;
}

.atm .container .takeoff .block {
    margin-top: 12px;
    max-width: 500px;
    text-align: center;
}

.atm .container .takeoff .block span {
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
}

.atm .container .takeoff .block .list {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
}

.atm .container .takeoff .block .list .sum {
    font-weight: 400;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.1);
    width: 240px;
    padding: 20px 0;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    transition: .4s;
}

.atm .container .takeoff .block .list .sum:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(5)):not(:nth-child(6))   {
    margin-top: 20px;
    margin-bottom: 20px;
}

.atm .container .takeoff .block .list .sum:not(:nth-child(1)):not(:nth-child(3)):not(:nth-child(5)) {
    margin-left: 20px;
}

.atm .container .takeoff .block .list .sum:hover {
    background: rgba(255, 255, 255, 0.3);
    transition: .4s;
}

.atm .container .takeoff .block .list .sum.active {
    background: #FFC500;
    color: #200500;
    transition: .4s;
}

.atm .container .takeoff .block .input {
    margin-top: 33px;
    padding: 16px 24px;
    background: rgba(255, 255, 255, 0.1);
    text-align: left;
}

.atm .container .takeoff .block .input input {
    font-weight: 400;
    font-size: 28px;
    background: none;
    border: none;
    outline: none;
    color: #ffffff;
    width: 100%;
}

.atm .container .takeoff .block .input input::-webkit-outer-spin-button,
.atm .container .takeoff .block .input input::-webkit-inner-spin-button {
    display: none;
}

.atm .container .takeoff .block .input input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.atm .final {
    position: absolute;
    bottom: 62px;
    left: 50%;
    transform: translate(-50%, 0);
}

.atm .final .text {
    text-align: right;
    width: 480px;
    font-weight: 400;
    font-size: 28px;
    color: #ffffff;
}

.atm .final .buttons {
    margin-top: 31px;
    display: flex;
}

.atm .final .buttons .button {
    width: 100%;
    padding: 14px 0;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    color: #200500;
    margin-left: 20px;
    transition: .4s;
    cursor: pointer;
}

.atm .final .buttons .button:first-child {
    margin-left: 0;
}

.atm .final .buttons .button.yellow {
    background: #FFC500;
}

.atm .final .buttons .button.white {
    background: #FFFFFF;
}

.atm .final .buttons .button.yellow:hover {
    background: #D39900;
    transition: .4s;
}

.atm .final .buttons .button.white:hover {
    background: #C2C2C2;
    transition: .4s;
}

@media  (max-width: 1100px)  {
    body {zoom: 50%}
}
@media  (max-width: 1300px)  {
    body {zoom: 60%}
}
@media (min-width: 1301px) and (max-width: 1400px) {
    body {zoom: 70%}
}
@media (min-width: 1401px) and (max-width: 1650px) {
    body {zoom: 80%}
}
@media (min-width: 1651px) and (max-width: 2560px) {
    body {zoom: 90%}
}
